<!-- 規約とポリシー - SP版メニュー -->
<li class="sp-menu-item sp-menu-item-has-submenu">
    <a href="javascript:void(0);" class="sp-menu-link">
        <span>規約とポリシー</span>
        <span class="sp-menu-arrow">▼</span>
    </a>
    <div class="sp-menu-submenu">
        <ul class="sp-menu-submenu-list">
            <li class="sp-menu-submenu-item"><a href="/privacy-policy.html" class="sp-menu-submenu-link">個人情報保護方針</a></li>
            <li class="sp-menu-submenu-item"><a href="/tokushoho.html" class="sp-menu-submenu-link">特定商取引法について</a></li>
            <li class="sp-menu-submenu-item"><a href="/workplace-policy.html" class="sp-menu-submenu-link">職場環境改善に向けた方針</a></li>
            <li class="sp-menu-submenu-item"><a href="/security-policy.html" class="sp-menu-submenu-link">情報セキュリティ基本方針</a></li>
            <li class="sp-menu-submenu-item"><a href="/antisocial-declaration.html" class="sp-menu-submenu-link">反社会的勢力排除宣言</a></li>
            <li class="sp-menu-submenu-item"><a href="/service-terms.html" class="sp-menu-submenu-link">サービス利用規約</a></li>
            <li class="sp-menu-submenu-item"><a href="javascript:void(0);" class="sp-menu-submenu-link">ウェブサイト・アプリ利用規約</a></li>
        </ul>
    </div>
</li>

